$light-white-color: rgb(237,241,241);
$light-green-color: rgb(47,204,113);
$dark-green-color: rgb(40,175,97);

.callout-box {
  @include display(flex);
  @include flex-flow(column);
  @include align-items(center);

  margin-bottom: $base-spacing * 4;

  > .slogan {
    font-size: $base-font-size * 4;
    font-weight: 800;
    text-align: center;
  }

  > .hero {
    display: block;

    margin-bottom: $base-spacing;
  }

  > .button {
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    @include padding(null 1em);

    color: $light-white-color;
    font-family: $heading-font-family;
    font-size: $base-font-size * 1.6;
    font-weight: 700;
    letter-spacing: 1px;

    background-color: $light-green-color;
    border-bottom: 3px solid $dark-green-color;
    border-radius: $base-border-radius * 2;
  }
}
