$light-yellow-color: rgb(255,206,1);

.landing-body {
  @include display(flex);
  @include flex-flow(column);
  @include align-items(center);

  .title {
    width: 750px;

    font-size: $base-font-size * 2.4;
    font-weight: 800;
  }

  .subtitle {
    margin-top: $small-spacing;
    width: 750px;

    font-size: $base-font-size * 1.8;
    font-weight: 700;

    text-align: center;
  }

  .preview {
    display: block;

    margin-bottom: $base-spacing;
  }

  > .text {
    width: 750px;

    font-size: $base-font-size * 1.2;
  }
  > .text.-bigger {
    width: 650px;

    font-size: $base-font-size * 1.4;
  }
  > .text.-highlight {
    width: 750px;

    padding-top: 0.4em;
    padding-bottom: 0.3em;
    @include padding(null 1em);

    background-color: $light-yellow-color;
    border-radius: $base-border-radius * 2;
  }
}

.benefit-list {
  @extend %default-ol;

  width: 650px;
}

.benefit-item {
  > .text {
    font-size: $base-font-size * 1.2;
  }
}
